WHATSAPP_CLOUD_API_WEBHOOK_VERIFICATION_TOKEN="<webhook>"
WHATSAPP_CLOUD_API_KEY=""
WHATSAPP_CLOUD_API_VERSION="v21.0"
WHATSAPP_CLOUD_API_PHONE_NUMBER_ID="<your_phone_number>"

OPENAI_API_KEY="<openai_api_key>"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./db/dev.db"

SERVER_URL="<server_url>"


DEEPGRAM_API_KEY="<deepgram_api_key>"

ELEVENLABS_API_KEY='<elevenlabs_api_key>'
